body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
   
}
  

  h1{
  
    text-align: center;
    color: #fff;
  
  }

  .calculator {
    
    color: #5cf316;
    background-color:#724caf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  input[type="number"], select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }

  #button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #774caf;
    color: #fff;
    border: none;
    cursor:pointer;
    align-items: center;
  }

  button:hover {
    background-color: #45a07d;
  }

  #resultado {
    margin-top: 20px;
    font-weight: bold;
  }
  